.demo{
    color: yellow;
    font-size:60px;
}
.box1{
    height: 300px;
    width: 400px;
    background-color: darkred;
    float: left;
    margin: 10px 20px 30px 40px;
    /*padding-top: 10px;*/
    /*padding-left: 10px;*/
    box-sizing: border-box;
}
.box2{
     height: 300px;
     width: 400px;
     background-color: antiquewhite;
     float: left;
    margin-top: 10px;
 }
.box3{
    height: 300px;
    width: 400px;
    background-color: antiquewhite;
    float: left;
}
box4{
    height: 300px;
    width: 400px;
    background-color: antiquewhite;
}
